*.class
*/bin/*
.metadata
bin/*
lib/build/bin/*
lib/build/reports/*
koans/data
koans/data*
.classpath
.project
koans/app/data
lib/file-compiler/bin

# Package Files #
*.jar
*.war
*.ear

*.~*

# IntelliJ Files should not be committed #
*.iml
*.ipr
*.iws
.idea

# Maven build artifacts should not be committed #
target
*/target

koans/app/config/file_hashes.dat
