*.class
*/bin/*
.metadata
bin/*
lib/build/bin/*
lib/build/reports/*
koans/data
koans/data*
.classpath
.project
.settings
koans/app/data
lib/file-compiler/bin
**/file_hashes.dat
.gradle
*.iml
*.ipr
*.iws
